<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oakHybridCacheWithDBData.mapper.UTaskDetailDOMapper">
    <resultMap id="BaseResultMap" type="oakHybridCacheWithDBData.bean.UTaskDetailDO">
        <!--@mbg.generated-->
        <!--@Table u_task_detail-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="task_code" jdbcType="VARCHAR" property="taskCode"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        version,
        task_code,
        task_name,
        create_by,
        update_by,
        create_time,
        update_time,
        is_deleted
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from u_task_detail
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        <!--@mbg.generated-->
        delete
        from u_task_detail
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="oakHybridCacheWithDBData.bean.UTaskDetailDO"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into u_task_detail (version, task_code, task_name,
                                   create_by, update_by, create_time,
                                   update_time, is_deleted)
        values (#{version,jdbcType=INTEGER}, #{taskCode,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR},
                #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="oakHybridCacheWithDBData.bean.UTaskDetailDO" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into u_task_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="version != null">
                version,
            </if>
            <if test="taskCode != null">
                task_code,
            </if>
            <if test="taskName != null">
                task_name,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="taskCode != null">
                #{taskCode,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null">
                #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="oakHybridCacheWithDBData.bean.UTaskDetailDO">
        <!--@mbg.generated-->
        update u_task_detail
        <set>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="taskCode != null">
                task_code = #{taskCode,jdbcType=VARCHAR},
            </if>
            <if test="taskName != null">
                task_name = #{taskName,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="oakHybridCacheWithDBData.bean.UTaskDetailDO">
        <!--@mbg.generated-->
        update u_task_detail
        set version     = #{version,jdbcType=INTEGER},
            task_code   = #{taskCode,jdbcType=VARCHAR},
            task_name   = #{taskName,jdbcType=VARCHAR},
            create_by   = #{createBy,jdbcType=VARCHAR},
            update_by   = #{updateBy,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            update_time = #{updateTime,jdbcType=TIMESTAMP},
            is_deleted  = #{isDeleted,jdbcType=TINYINT}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByTaskCode" resultType="java.lang.Integer">
        select
        count(*)
        from u_task_detail
        where task_code = #{taskCode,jdbcType=VARCHAR}
    </select>
</mapper>